=form_with model: @friend, local: true do |f|
  %input.search-friend{placeholder: "追加したいユーザー名を入力してください", type: "text"}
  %input.addfriends-button{value: "決定！", type: "submit"}
  .addfriend-wrapper
    .search-container
      .search-container__new-friends
        .search-lists
    .myfriends-container
      %h3 仲間一覧
      - @friends.each do |friend|
        .friend
          %p{"data-id": friend.follower_id}
            =friend.follower.name
          .friend__del{"data-id": friend.follower_id}
            %span.del-button
              さよなら
            %input{name: "friend[follower_ids][]", type:"hidden", value: friend.follower_id}