.top-container{
  margin-top: 5px;
  display: flex;
  justify-content: center;
  width: 100vw;
  
  .center-buttons{
    .friend-day-icon{
      text-decoration: none;
      margin: 0 3px;
      &:hover{
        cursor: pointer;
      }
    }
  }
}


.friends-wrapper{
  display: flex;
  height: calc(100vh - 84px);
  .friends-container{
    width: 20%;
    height: 100%;
    padding: 20px 0 0 20px;
    &__button{
      border: none;
      background-color: #FCADAD;
      text-decoration: none;
      color: #fff;
      padding: 3px;
      box-shadow: 1px 1px #d3d3d3;
      border-radius: 3px;
      &:hover{
        cursor: pointer;
      }
      &:active{
        position: relative;
        top: 3px;
        box-shadow: none;
      }
    }
    .friends-list{
      margin-top: 10px;
      &__item{
        margin-top: 1rem;
        font-size: 1.5rem;
        color: #555;
      }
      p{
        margin-top: 16px;
      }
      li{
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
  .friend-schedule{
    width: 80%;
    height: 95%;
    margin-top: 15px;
    .schedule-wrapper{
      display: flex;
      height: 100%;
      &__display{
        width: 30px;
        display: grid;
        grid-template-rows: 1fr 0.5fr 1fr;
        grid-template-columns: 1fr;
        
      }
      &__plan{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 0.25fr 1fr;
        grid-template-columns: repeat(auto-fill, 1.56%);
        .task{
          text-orientation: upright;
          writing-mode: vertical-rl;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: lightblue;
          border-right: #cccccc 1px solid;
          border-left: #cccccc 1px solid;
        }
      }
      &__hour{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #000;
      }
    }
  }
}

.search-friend{
  width: 300px;
  height: 2rem;
  font-size: 0.9rem;
  padding: 0.2rem;
}
.addfriends-button{
  border: none;
  background-color: #FCADAD;
  text-decoration: none;
  color: #fff;
  padding: 3px;
  box-shadow: 1px 1px #d3d3d3;
  border-radius: 3px;
  &:hover{
    cursor: pointer;
  }
  &:active{
    position: relative;
    top: 3px;
    box-shadow: none;
  }
}
.addfriend-wrapper{
  display: flex;
  width: 100%;
  height: calc(100vh - 60px);
  padding: 10px;
  .search-container{
    width: 50%;
    height: 100%;
    &__new-friends{
      .search-lists{
        width: 80%;
        margin-top: 20px;
        &__list{
          display: flex;
          justify-content: space-between;
          margin: 10px;
        }
        .add-button{
          border: none;
          background-color: #FCADAD;
          text-decoration: none;
          color: #fff;
          padding: 3px;
          box-shadow: 3px 3px #d3d3d3;
          border-radius: 5px;
          &:hover{
            cursor: pointer;
          }
          &:active{
            position: relative;
            top: 3px;
            box-shadow: none;
          }
        }
      }
    }
  }
  .myfriends-container{
    width: 60%;
    height: 100%;
    border-left: lightsteelblue 1px ridge;
    padding: 0 30px;
    h3{
      font-weight: bold;
      font-size: 30px;
      color: gray;
      padding-bottom: 10px;
    }
    .friend{
      display: flex;
      justify-content: space-between;
      &__del{
        .del-button{
          text-decoration: none;
          color: gray;
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
  }
}