// トップ画面のスタイルシートです
* {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}
.blue-button{
  border: none;
  background-color: #CFE6FA;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  box-shadow: 3px 3px #d3d3d3;
  border-radius: 5px;
  &:hover{
    cursor: pointer;
  }
  &:active{
    position: relative;
    top: 3px;
    box-shadow: none;
  }
}
.pink-button{
  border: none;
  background-color: #FCADAD;
  text-decoration: none;
  color: #fff;
  padding: 5px;
  box-shadow: 3px 3px #d3d3d3;
  border-radius: 5px;
  &:hover{
    cursor: pointer;
  }
  &:active{
    position: relative;
    top: 3px;
    box-shadow: none;
  }
}

.main-title{
  background-color: #CFE6FA;
  padding: 0 20px;
  width: 100vw;
  height: 60px;
  &__title{
    font-size: 30px;
    padding-top: 7px;
  }
  &__toplink{
    color: #FCADAD;
    text-decoration: none;
    letter-spacing: 5px;
  }
  .login-username{
    color: #555;
    font-size: 0.5rem;
    float: right;
    vertical-align: bottom;
  }
}

.container{
  width: 95%;
  height: calc(100vh - 70px);
  margin: 10px auto;
  .form-field{
    #schedule_name{
      width: 60%;
      min-width: 300px;
    }
    .blue-button{
      border: none;
      background-color: #CFE6FA;
      color: #fff;
      text-decoration: none;
      padding: 5px;
      box-shadow: 3px 3px #d3d3d3;
      border-radius: 5px;
      &:hover{
        cursor: pointer;
      }
      &:active{
        position: relative;
        top: 3px;
        box-shadow: none;
      }
    }
  }
  .button-container{
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    .pink-button{
      border: none;
      background-color: #FCADAD;
      text-decoration: none;
      color: #fff;
      padding: 5px;
      box-shadow: 3px 3px #d3d3d3;
      border-radius: 5px;
      &:hover{
        cursor: pointer;
      }
      &:active{
        position: relative;
        top: 3px;
        box-shadow: none;
      }
    }
    .blue-button{
      border: none;
      background-color: #CFE6FA;
      color: #fff;
      text-decoration: none;
      padding: 5px;
      box-shadow: 3px 3px #d3d3d3;
      border-radius: 5px;
      &:hover{
        cursor: pointer;
      }
      &:active{
        position: relative;
        top: 3px;
        box-shadow: none;
      }
    }
    .left-buttons{
      &__left{
        margin-right: 5px;
      }
    }
    .center-buttons{
      .day-icon{
        display: inline;
        text-decoration: none;
        margin: 0 3px;
        &:hover{
          cursor: pointer;
        }
      }
    }
    .right-buttons{
      .pink-button{
        border: none;
        background-color: #FCADAD;
        text-decoration: none;
        color: #fff;
        padding: 5px;
        box-shadow: 3px 3px #d3d3d3;
        border-radius: 5px;
        &:hover{
          cursor: pointer;
        }
        &:active{
          position: relative;
          top: 3px;
          box-shadow: none;
        }
      }
    }
  }
  .schedule-wrapper{
    height: calc(100vh - 155px);
    margin-top: 10px;
    display: flex;
    &__display{
      width: 30px;
      display: grid;
      grid-template-rows: 1fr 0.5fr 1fr;
      grid-template-columns: 1fr;
      .plan{
        grid-row: 1/2;
        display: flex;
        align-items: center;
      }
      .done{
        grid-row: 3/4;
        display: flex;
        align-items: center;
      }
    }
    &__plan{
      width: 100%;
      display: grid;
      grid-template-rows: 1fr 0.25fr 1fr;
      grid-template-columns: repeat(auto-fill, 1.56%);
      .task{
        text-orientation: upright;
        writing-mode: vertical-rl;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: lightblue;
        border-right: #cccccc 1px solid;
        border-left: #cccccc 1px solid;
        &:hover{
          cursor: pointer;
        }
        &__plan{
          &:hover{
            cursor: pointer;
          }
        }
        a{
          text-decoration: none;
          color: #333;
        }
      }
    }
    &__hour{
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #000;
    }
  }
}
.wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
}
.edit-container{
  z-index: 5;
  height: calc(100vh - 150px);
  width: 60%;
  margin: 20px 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  &__display{
    margin-bottom: 20px;
    position: absolute;
    top: 100px;
    left: 30%;
    .detail-container{
      display: flex;
      &__detail{
        font-size: 2em;
        margin-right: 1em;
      }
      span{
        display: flex;
        align-items: center;
        margin-right: 1em;
      }
    }
  }
}
.edit-cantainer__form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  input[type="select"]{
    width: 300px;
  }
}
.close-modal{
  &:hover{
    cursor: pointer;
  }
}
.non-display{
  display: none;
}